.form-container {
    min-height: 80vh;

    h1 {
        .h1-styles;
    }
    
    .form {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    input, textarea {
        height: 50px;
        width: 40%;
        color: @mirage;
        padding-left: 15px;
        font-size: 1.7rem;
        border-radius: 10px;
        border: 1px solid lightgray;
        box-shadow: 2px 3px 5px gray;
        margin-bottom: 20px;
    }

}

    .btn-container {
        //border: 1px solid red;
        width: 40%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 3%;

        .btn {
            width: 200px;
        }
    }
